# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

node_modules/
config.js
Archived.jsx
Archives
./client/src/components/QandA/Old/
./client/src/components/Reviews/old/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
